html{
    font-size: 62.5%; /* 1rem = 10px */
}
table{
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.2rem;
}
table tr th{
    font-size: 1.5rem;
    padding: 7px 10px;
}
table tr td{
    border: 1px solid black;
    padding: 7px 10px;
}
table th:first-child{
    font-weight: 700;
    background-color: #afadad;
}
table tr:nth-child(even){
    background-color: #e0e0e0;
}
table tr:nth-child(odd){
    background-color: #f8f8f8;
}
.subtitulo td{
    background-color: #f8f8f8;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
}

/* version 2 */
form{
    margin: 0 auto;
    text-align: center;
}
label{
    font-size: 20px;
    display: block;
    text-align: center;
}
input[type="number"]{
    width: 350px;
    margin: 10px 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    border: 2px solid black;
    background-color: blue;
    padding: 10px;
}
a:hover{
    border: 1px solid gray;
}