form{
    margin: 0 auto;
    background-color: cyan;
    padding: 20px 0;
    text-align: center;
}
label{
    width: 100%;
    text-align: center;
}
input{
    display: block;
    margin: 0px auto;
}

#par{
    background-color: gainsboro;
    font-size: 2rem;
    text-align: center;
}
#impar{
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
}